<div class = "container">
	<table class = "table table-hover" style = "width: 55%">
		<thead class = "table table-hover">
			<tr>
				<th> ID </th>
				<th> Name </th>
				<th> Age </th>
				<th> Actions </th>
			</tr>
		</thead>
		<tbody class = "student-index" style = "text-align: left;" >
			<% @department.students.each do |student| %>
				<tr>
					<td><%= student.id %></td>
					<td><%= student.name %></td>
					<td><%= student.age %></td>
					<td><%= link_to 'View Record', department_student_path(student.id), remote: true, class: "btn btn-warning viewRecord" %></td>
					<td><%= link_to 'Update Record',edit_department_student_path(student.id), remote: true, class: "btn btn-info"%></td>
					<td><%= link_to 'Delete Record', department_student_path(student.id), method: :delete, remote: true, class: "btn btn-danger", data: {confirm: "Are you sure you want to delete this?"} %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	</div>
<div id = "student-modal" class = "modal fade"></div>
<p style = "text-align:center;">
	<%= link_to 'Add Record',new_department_student_path(@department.id), remote: true, class: "btn btn-success"%>
</p>
<div class = "new-student"></div>
